<form method="post" action="{{ path('app_tareas_delete', {'id': tarea.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarea.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>