{% extends 'base.html.twig' %}

{% block title %}Editar Tarea{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Editar Tarea</h1>
        {{ include('tareas/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_tareas_index') }}" class="btn btn-secondary">Volver a la lista</a>
            {{ include('tareas/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}