{# templates/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Editar Usuario</strong>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Guardar cambios</button>
            <a href="{{ path('app_list', {'entity': 'user'}) }}" class="btn btn-secondary mt-3">Volver a la lista</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}