{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <strong>{{ name }}</strong>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Crear cliente</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}