<form method="post" action="{{ path('app_hilo_delete', {'id': hilo.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este hilo?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hilo.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>