{% extends 'base.html.twig' %}

{% block title %}Crear nuevo usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_list', {'entity': 'user'}) }}">Volver al listado</a>
{% endblock %}