{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Perfil de Usuario</strong>
        </div>
        <div class="card-body">
            <p><strong>Email:</strong> {{ app.user.email }}</p>
            <p><strong>Roles:</strong> {{ app.user.roles|join(', ') }}</p>
            <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="btn btn-primary">Editar perfil</a>
        </div>
    </div>
{% endblock %}